# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-store/

# Hardhat
artifacts/
cache/
typechain/
types/
coverage/

# TypeChain generated bindings (Hardhat)
types/ethers-contracts/
types/typechain/

# Ambiente
.env
.env.local
.DS_Store
